* {
    box-sizing: border-box;

}

body {
    background-image: url(/assets/background.jpg);
    width: 100%;
}

.facebook a {
    text-decoration: none;
    color: #FDFBF8;
    margin-left: 5%;
    line-height: 30px;
}

.facebook {
    margin-top: 10px;
    background-color: #39599C;
    width: 8%;
    border-radius: 3px;
    height: 30px;
    display: inline-block;
    font-size: 0.7em;
}

.twitter a {
    text-decoration: none;
    color: #FDFBF8;
    margin-left: 5%;
    line-height: 30px;
}

.twitter {
    margin-top: 10px;
    background-color: #1DA1F2;
    width: 8%;
    border-radius: 3px;
    height: 30px;
    display: inline-block;
    font-size: 0.7em;
}

.container {
    width: 60%;
    background-color: #ffffff;
    margin-left: 20%;
}

.left-side-container {
    display: inline-block;
    background-color: #ffffff;
    padding: 1%;
    width: 43%;
    vertical-align: top;
}

.header-of-left-container h2{
    color: rgb(135, 206, 107);
}

.register-panel input{
    border: 1px solid rgb(132, 212, 112);
    line-height: 25px;
    margin-top: 7px;
    width: 100%;
    padding-left: 23px;
}

.left-side-container footer {
    margin-top: 6%;
    font-size:0.8em;
}

.right-footer button {
    color: #ffffff;
    background-color: rgb(135, 206, 107);
    border: none;
    margin-left: 41%;
    height:30px;

}

.footer button {
    background-color: rgb(135, 206, 107);
    border: none;
    color: #ffffff;
    height: 30px;
    margin-left: 75%;
    width: 25%;
    vertical-align: top;
    display: inline-block;
    margin-top: -20px;
}

/* //////////////////////// */

.right-side-container{
    background-color: #ffffff;
    display: inline-block;
    margin-left: -4px;
    padding-left: 2%;
    margin-top: 1%;
    width: 57%;
}

.right-side-container footer {
    margin-top: 1%;
    font-size:0.8em;
    width: 70%;
}

.login input {

    width: 9%;
    border: 1px solid rgb(132, 212, 112);
    line-height: 25px;
    margin-top: 7px;
    
}

.right-side-container h2 {
    color: rgb(135, 206, 107);
    text-align: center;
}

.right-side-container header{
    width: 70%;

}

.social-networks {
    width: 134em;
}

.login {
    width: 119em;
}


.footer-of-footer {
    margin-top: 3%;
}

.footer-of-footer a {
    color: black;
    padding: 6px;
}

.login-side {
    margin-top: 3%;
}

.head h1{
    margin-left: 45%;
    color: rgb(135, 206, 107);
}
.head span{
    margin-left: 45%;
    color: black;
}
.head-button button{
    margin-left: 42%;
    display: inline-block;
    background-color: rgb(135, 206, 107);
    border: none;
    width: 13%;
    height: 30px;
    margin-bottom: 2%;
    color: #FDFBF8;
    margin-top: 10px;
}

.footer a{
    text-decoration: none;
    color: rgb(105, 167, 80);
}

.login-side a {
    color: #ffffff;

}

.username i {
    position: absolute;
    right: 95%;
    top: 17px;
    display: inline-block;

}

.register-panel {
    position: relative;
}

.mail i {
    position: absolute;
    right: 95%;
    top: 47px;
    display: inline-block
}

.pass i {
    position: absolute;
    right: 95%;
    top: 83px;
    display: inline-block;
}

.pass-repeat i{
    position: absolute;
    right: 95%;
    top: 119px;
    display: inline-block;
}